DRYLOG_DB_HOST=127.0.0.1
DRYLOG_DB_PORT=3306
DRYLOG_DB_NAME=drylogpro
DRYLOG_DB_USER=root
DRYLOG_DB_PASS=
DRYLOG_DB_CHARSET=utf8mb4
DRYLOG_DEV_USER_ID=1
DRYLOG_DEBUG=1
DRYLOG_CORS_ORIGIN=http://localhost:5173
